.image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: end;
}

.movies {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  gap: 24px;
}

.detail {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-column-end: 3;
  @apply text-white font-bold text-2xl;
}
